.dialog-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 87, 87, 0.5);
    pointer-events: none;
    z-index: 2000;
}
.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout {
    background-color: white;
    border-radius: 6px;
    pointer-events: all;
    display: flex;
    padding: 15px;
    flex-direction: column;
    gap: 12px;
    min-width: 220px;
}

.logout-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
}
.logout-buttons > button {
    padding: 12px;
    border: 1px solid black;
    color: black;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
    outline: none;
}