.logout-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 87, 87, 0.3);
    pointer-events: none;
    z-index: 100;
}

.logout {
    background-color: white;
    border-radius: 6px;
    pointer-events: all;
    display: flex;
    flex-direction: column;
}

.logout-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}