*{
    font-family: Geneva, Verdana, sans-serif;

}
.container {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-sizing: border-box;
}

.fixed-new-blog {
    position: fixed;
    bottom: 12px;
    right: 12px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255 207 44);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}
.fixed-new-blog > span {
    color: #ff7603;
}

a {
    text-decoration: none;
    color: black;
}
.filter-search {
    text-align: center;
    min-width: 220px;
    height: 40px;
    margin-bottom: 12px;
}
.filter-search > input {
    border: none;
    outline: none;
    border-bottom: 2px solid #8ab4f8;
    font-size: 14px;

}